main.wiki pre, main pre {
     color: white;
     font-family: Menlo; /* Strange it didn't change color, but ok */
     font-size: 0.35cm;
     line-height: 20px;
     position: relative; left: 10px; 
     word-break: normal;
}

main.wiki .code-border, main .code-border {
     outline: #272b33 solid;
     background-color: #161b22; 
     background-size: 10px 10px;
     border-radius: 5.5px;
     border-width: thin;
     padding: 2.5px;   
     width: 23.86cm;
     margin-top: 15px; margin-bottom: 15px;
}

:root { /* For variables */
     --white: #ffffff;
     --red: #ff9492;
     --blue: #91cbff;
     --grey: #bdc4cc;
     --pink: #dbb7ff;
     --gold: #ffb757;
     --aquamarine: #47cab0;
}

#code-keyword1 { color: var(--red); }
#code-keyword2 { color: var(--blue); }
#code-number { color: var(--blue); }
#code-string { color: var(--blue); }
#code-comment { color: var(--grey); }
#code-function { color: var(--pink); }
#code-customfunc { color: var(--blue); }
#code-parameter { color: var(--gold); }
#code-valmani { color: var(--aquamarine); }
#code-variable { color: var(--white); }
#code-key { color: var(--blue); }
#code-value { color: var(--blue); }

#show_text {
     outline: #272b33 solid;
     background-color: #161b22;
     border: #161b22 solid 10px;
     border-radius: 5.5px;
     border-width: thin;
     padding: 2.5px;   
}