body, .menu_bg, .menu_title, .menu_image, .menu_lists, .menu_button, .menu_links {
     padding: 0;
     margin: 0;
     text-decoration: none;
     list-style: none;
     box-sizing: border-box;
}

.menu_bg {
     color: white;
     background: #282a2e;
     height: 80px; width: 100%;
     transition: top 0.5s;
     position: fixed;
     user-select: none; /* supported by Chrome and Opera */
     -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
}

.menu_bg, .menu_outline {
     z-index: 99;
}

.menu_title {
     font-weight: bold;
     font-size: 30px;
     position: absolute;
     left: 50px; top: 20px;
}

.menu_image {
     position: absolute;
     left: 5.2cm; top: 5px;
}

.menu_bg .menu_lists {
     float: right;
     margin-right: 20px;
}

.menu_bg .menu_lists .menu_button {
     display: inline-block;
     line-height: 80px;
     margin: 0 5px;
}

.menu_bg .menu_lists .menu_button .menu_links {
     color: white;
     padding: 7px 13px;
     border-radius: 10px;
     font-size: 24px;
}

.menu_bg .menu_lists .menu_button .menu_links:hover {
     background: rgb(127, 41, 177);
     transition: 0.5s;
}

.checkbtn {
     font-size: 30px;
     color: white;
     float: right;
     line-height: 80px;
     margin-right: 40px;
     cursor: pointer;
}

#check, .checkbtn, .menuCrop_lists {
     display: none;
}

@media screen and (max-width: 900px) {
     .checkbtn { display: block; }
     .menu_links  { display: none; }
     

     /* .menu_lists {
          position: fixed;
          width: 6.5cm;
          height: 100vh;
          background: #383838;
          top: 80px; right: -300px;
          text-align: right;
          transition: 0.5s;
     }

     .menu_bg .menu_lists .menu_button {
          display: block;
          line-height: 55px;
          position: relative;
          top: 20px;
     }

     .menu_bg .menu_lists .menu_button .menu_links {
          font-size: 30px;
     }

     .menu_links .fa {
          margin-left: 30px;
     } */
}

.menu_show {
     background: black;
     border: red solid 1px;
     border-radius: 10px;
     padding: 12px 15px;
     position: absolute;
     top: 3cm; left: 0.8cm;
     transition: 0.5s;
}

.menu_top {
     background: black;
     border: red solid 1px;
     border-radius: 10px;
     padding: 12px 12px;
     position: absolute;
     top: 4.5cm; left: 0.8cm;
     transition: 0.5s;
}

.menuCrop_lists {
     float: right;
     background: #282a2e;
     border: grey solid 1px;
     border-radius: 10px;
     font-size: 16px;
     text-align: left;
     line-height: 30px;
     width: 4cm; height: 4cm;
     position: absolute;
     top: 3cm; right: 0.5cm;
}

.menuCrop_lists_show {
     float: right;
     background: #282a2e;
     border: grey solid 1px;
     z-index: -1;
     transform: rotate(45deg);
     font-size: 16px;
     text-align: left;
     line-height: 30px;
     width: 1cm; height: 1cm;
     position: absolute;
     top: -0.1cm; right: 0.33cm;
}

.menuCrop_lists a {
     color: white;
     text-decoration: none;
     position: relative;
     top: 0.4cm; left: 0.5cm;
}