main#wiki {
     line-height: 1.5;
     margin-top: 1.6cm;
     position: absolute;
     left: 2.8cm;
}

body {
     background-color: black;
     font-family: BlinkMacSystemFont;
}

main#wiki h3 { margin-bottom: -1px; }
main#wiki h1 { 
     font-size: 35px; 
     font-weight: 600;
     margin-bottom: 30px; margin-top: 0px; 
}

main#wiki blockquote { position: relative; right: 20px; }
main#wiki a { color: #71b8ff; text-decoration: none; }
main#wiki a:hover { text-decoration-line: underline; }

main#wiki p { width: 23.9cm; }
main#wiki blockquote { width: 22.8cm; }
main#wiki li { width: 22cm; }
main#wiki h3 { width: 22.8cm; }
main#wiki details { margin-bottom: 20px; }

main#wiki ul { padding-left: 50px; line-height: 27px; }
main#wiki code {
     font-family: Menlo; /* Strange it didn't change color, but ok */
     font-size: 0.345cm;
     background-color: #464b53; /* #525964 */
     background-size: 10px 10px;
     border: #464b53 solid 10px;
     border-radius: 5.5px;
     border-width: thin 3px;
     padding: 2.5px;
}

main#wiki video {
     width: 500px; height: 298px;
     outline: white solid 1.8px;
     border-radius: 5px;
     position: relative;
     left: calc(23.9cm - 19.2cm);
}

/* Horizontals */

:root {
     --Lblue: #71b7ff;
     --Lgreen: #7dff71;
     --Lyellow: #faff71;
     --Lgold: #f0b72f;
     --padSize: 1.5cm;
     --fakeHRopacity: 0.55;
}

main#wiki .fake-horizontal-blue { border-left: 5px solid var(--Lblue); }
main#wiki .fake-horizontal-green { border-left: 5px solid var(--Lgreen); }
main#wiki .fake-horizontal-yellow { border-left: 5px solid var(--Lyellow); }
main#wiki .fake-horizontal-gold { border-left: 5px solid var(--Lgold); }

main#wiki .blue { color: var(--Lblue); }
main#wiki .green { color: var(--Lgreen); }
main#wiki .yellow { color: var(--Lyellow); }
main#wiki .gold { color: var(--Lgold); }


/* Lines */

.fake-hr-thick { /* For borders thick */
     margin-top: 0.5cm; margin-bottom: 0.3cm;
     background-color: white;
     opacity: var(--fakeHRopacity);
     height: 4px; width: 24cm;
} 

.fake-hr-thin1 { /* For borders thin */
     background-color: white;
     opacity: var(--fakeHRopacity);	  
     position: relative; 
     top: 5px;
     height: 1px; width: 24cm;
}

.fake-hr-thin2 { /* For borders thin but longer */
     background-color: white;	
     opacity: var(--fakeHRopacity);
     position: relative; 
     bottom: 20px;
     height: 1px; width: 1223.5px;
}

/* Table contents */

thead td, td button { font-weight: 600; }
td { padding-bottom: calc(1cm / 6); padding-top: calc(1cm / 6); }
td button {
     font-size: 16px;
     background: rgb(25, 25, 25);
     border: none;
     border-radius: 5px;
     padding: 5px;
     margin: -5px;
}

td button:hover { cursor: pointer; }

.tab-symb, .tab-synt, .tab-resu { text-align: center; }
.tab-name { padding-left: var(--padSize); padding-right: var(--padSize); }

.tab-nameL { padding-left: var(--padSize); }
tbody .tab-nameL { padding-left: var(--padSize); width: 18cm; }

.tab-syntL { padding-left: var(--padSize); text-align: left; }
thead .tab-syntL { position: relative; right: 16cm; }
tbody .tab-syntL { display: none; padding-left: var(--padSize); width: 18cm; }

#Arith .tab-resu { padding-left: 2.5cm; }
#Misce .tab-resu { padding-left: 1cm; }

#Relat .tab-name { width: 12cm; }
#Logic .tab-name { width: 17cm; }
#Misce .tab-name { width: 10cm; }

.fake-hr-tab {
     background-color: white;
     opacity: var(--fakeHRopacity);
     height: 1px; width: 20cm;
     position: absolute;
     left: 0.4px;
}

.fake-hr-tabL {
     background-color: white;
     opacity: var(--fakeHRopacity);
     height: 1px; width: 24cm;
     position: absolute;
     left: 0.4px;
}